@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

mark {
  border-radius: 3px;
  color: transparent;

  transform: translateX(-2px);
  padding: 0px 2px 0px 4px;
  margin: 0px -2px 0px -4px;
}

mark.highlight-keyword {
  background-color: rgb(230, 230, 230);
}

mark.highlight-number {
  background-color: #deeafc;
}

mark.highlight-function {
  background-color: #eee4f7;
}

mark.highlight-boolean {
  background-color: #daf5e1;
}

mark.highlight-logical {
  background-color: #f7f7cb;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* ---------- */

.markdown {
  display: grid;
  grid-template-columns: auto;
  gap: 5px;

  line-height: 180%;
}

.markdown p {
  margin-bottom: 25px;
}

.markdown h1 {
  font-size: 30px;
  font-weight: 800;

  margin-bottom: 30px;
}

.markdown h2 {
  font-size: 20px;
  font-weight: 800;
}

.markdown h3 {
  font-size: 17px;
  font-weight: 800;
}

.markdown ul {
  padding-left: 15px;
  margin-bottom: 30px;

  display: grid;
  grid-template-columns: auto;
  gap: 5px;

  margin-top: -20px;
}

.markdown pre {
  padding: 20px !important;
  margin-top: -20px;

  border-radius: 5px;

  background-color: rgba(0, 0, 0, 0.08);

  border: none !important;
}

.markdown code {
  padding: 3px 8px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.08);
}

.markdown pre code {
  padding: 0px;
  border-radius: 0px;
  background-color: transparent;
}

.markdown pre {
  padding: 20px;

  background-color: rgba(0, 0, 0, 0.05);
}