.editor {
    counter-reset: line;

    font-family: 'Menlo Regular', monospace;
    font-size: 14px;
}

.editor-textarea::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.editor .code-line-number {
    position: absolute;
    left: 0px;
    text-align: right;
    width: 20px;

    color: rgb(120, 120, 120);
    font-family: 'Menlo Regular', monospace;
    font-size: 14px;
    font-weight: 100;
}

.editor-textarea {
    outline: 0;
    padding-left: 40px !important;

    font-family: 'Menlo Regular', monospace;
    font-size: 14px;

    white-space:nowrap;
    overflow:scroll;
}

.editor pre {
    padding-left: 40px !important;
}

.token {
    font-family: 'Menlo Regular', monospace;
    font-size: 14px;
}

.token.comment { color: rgba(255, 255, 255, 0.4); }
.token.keyword { color: #569cd6; }
.token.function { color: #a78ee1; }
.token.boolean { color: #e87d84; }
.token.condition { color: #e87d84; }
.token.logical { color: #dcdcaa; }
.token.number { color: #86b9e3; }
.token.operator { color: #e87d84; }